$bkColor        : #333657;
$darker         : #191b2b;
$foreColor      : #698190;
$foreGreen      : #0FBD7F;
$foreRed        : #F45F72;
$white          : #F4F4F4;
$lightGreen     : #42DBF5;
$lightGrey      : #CED0D5;
$lightBlue      : #5EB2D9;
$semiBlue       : #36395c;
$mediumBlue     : #262841;
